/* Base styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

.header-title {
  flex: 1;
}

.logo {
  max-width: 150px;
}

.nav {
  flex: 2;
  display: flex;
  justify-content: center;
}

.login {
  font-size: 1.5em;
  border: none;
  background: transparent;
  font-weight: bold;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  border: none;
  background: transparent;
  cursor: pointer;
}

.menu-toggle .hamburger {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 4px 0;
}

/* Transform the hamburger icon to a cross when open */
.menu-toggle.open .hamburger:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-toggle.open .hamburger:nth-child(2) {
  opacity: 0;
}

.menu-toggle.open .hamburger:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* Media queries for responsiveness */
@media (max-width: 900px) {
  .nav {
    display: none;
    position: absolute;
    top: 70px;
    background-color: #fff;
    flex-direction: column; /* Column layout on mobile */
    align-items: center;
    padding: 20px 0;
  }

  .nav.open{
    display: flex;
    width: auto;
    margin-top: 2rem;
    box-shadow: rgba(0, 0, 0, 0.5) 10px 10px 20px 0px;
    right: 1em;
  }
  .nav.open ul{
    display: flex;
    flex-direction: column; /* Display links in a column when open */
    gap: 15px; /* Add space between the links */
    align-items: center;
  }


  .menu-toggle {
    display: flex;
  }
  .header {
    position: relative;
  }
}

@media (max-width: 480px) {
  .logo {
    max-width: 120px;
  }

  .login {
    font-size: 1.2em;
  }
}
