.container {
    display: flex;
    justify-content: space-evenly;
    background-color: #C5C5C5;
    height: 63vh;
    flex-direction: row;

  }
  .text-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: auto;
    padding: 2rem;
    justify-content: center;
  }
  
  .text-container button {
    height: 2rem;
    width: 10rem;
    border-radius: 1rem;
    border: none;
    background-color: #2B5B08;
    color: white;
  }
.img{
  text-align: center;
    margin: auto;
}

  .img img {
    height: 19rem;
    box-shadow: rgba(0, 0, 0, 0.5) 10px 10px 20px 0px;
    border-radius: 1em;
    margin: 4vh;
  }

  /* Media queries for screens 768px and below */
  @media only screen and (max-width: 900px) {
    .container {
      flex-direction: column-reverse;
      align-items: center;
      height: 45rem;
    }
  
    .text-container {
      width: auto;
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 2rem;
      justify-content: center;
      align-items: center;
    }
  
    .img {
      display: flex;
      justify-content: center;
    }
  
    .img img {
        box-shadow: rgba(0, 0, 0, 0.5) 10px 10px 20px 0px;
      
    }
  }
  
  /* Media queries for screens 480px and below */
  @media only screen and (max-width: 480px) {
    
    .container{
        height: 40em;
    }
    .text-container h1 {
      font-size: 1.5rem;
    }

    .text-container h2 {
      font-size: 1.25rem;
    }

    .text-container h3 {
      font-size: 1rem;
    }

    .text-container p {
      font-size: 0.875rem;
    }

    .text-container button {
      width: 100%;
      font-size: 0.875rem;
    }
    .img img {
    height: 13em;
    }
  }
